<!doctype html>
    <html>
        <head>
	<title><h1>500 - Server Error</h1></title> </head>
	<body><header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
	{{{body}}}
	    </body>
	   <footer><p> end </p> </footer>
	        </html>
